@import "tailwindcss";

@theme {
	--color-background: #000000;
	--color-primary: #00ff9d;
	--color-secondary: #bd00ff;
	--color-error: #ff0055;
	--color-text: #ffffff;

	--font-mono: "JetBrains Mono", "Roboto Mono", monospace;
	--font-sans: "Inter", system-ui, sans-serif;
}

:root {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-sans);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
}
